.separator {
  background-color: #df4683;
  font-size: 0.8rem;
  padding: 3px 15px;
}

.conversionElementWrapper {
  background-color: #eb4b89;
}

.conversionElementWrapper:nth-child(even) {
  background-color: #d04479;
}
