.separator {
  background-color: #df4683;
  font-size: 0.8rem;
  padding: 2px 4px;
}

.historyElementWrapper {
  background-color: #eb4b89;
}

.historyElementWrapper:nth-child(even) {
  background-color: #d04479;
}
