.currencyHistoryElementWrapper {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 8px;
}

.historyArrowImg {
  margin-left: 20px;
  height: 15px;
}

.currencyConversion {
  margin-left: auto;
}
