.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 45px;
}

.backSection {
  display: flex;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 30px;
  background-color: aqua;
}

.searchIconImg,
.backBtn {
  height: 20px;
}

.show {
  display: flex;
}

.searchBar {
  display: flex;
}
